.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photographer-header__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 31%;
}

.photographer-header__info h1 {
    font-size: 64px;
    color: #D3573C;
}

.photographer-header__info h2 {
    font-size: 24px;
    color: #901C1C;
}

.photographer-header__info h3 {
    font-size: 18px;
    color: #525252;
}

.photographer-header__button {
    display: flex;
    justify-content: center;
    width: 31%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.photographer-header__picture {
    display: flex;
    justify-content: flex-end;
    width: 31%;
}


/* =========================================== */
/* MEDIA CARD */
/* =========================================== */

.photographer-medias {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.mediaCard {
    width: 350px;
    height: 350px;

}

.mediaCard img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.mediaCard video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.mediaCard .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.mediaCard .info h2 {
    font-size: 16px;
    color: #901C1C;
}

.mediaCard .info .info__likes-count {
    font-size: 16px;
    font-weight: 500;
    color: #901C1C;
}

.mediaCard .info .fa-heart {
    font-size: 22px;

    color: #901C1C;
}

/* =========================================== */
/* CONTACT MODAL */
/* =========================================== */
.contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: auto;

}


.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.modal header h2,
.modal header h3 {
    font-size: 48px;
    font-weight: normal;
}

.modal header img {
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

.modal .requiredField {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-left: 10px;
    color: rgb(235, 207, 116);
}

.formData {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

form textarea {
    width: 100%;
    height: 170px;
    font-size: 24px;
    padding: 10px;
    resize: none;
}

form .input-invalid {
    border: 2px solid #e54858;
}

.error-message {
    font-size: 18px;
    color: #901C1C;
    font-weight: 700;
    margin-bottom: 5px;
}