.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photographer-header__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 31%;
}

.photographer-header__info h1 {
    font-size: 64px;
    color: #D3573C;
}

.photographer-header__info h2 {
    font-size: 24px;
    color: #901C1C;
}

.photographer-header__info h3 {
    font-size: 18px;
    color: #525252;
}

.photographer-header__button {
    display: flex;
    justify-content: center;
    width: 31%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.photographer-header__picture {
    display: flex;
    justify-content: flex-end;
    width: 31%;
}

/* =========================================== */
/* SORT BAR */
/* =========================================== */
.photographer-sortbar {
    margin: 50px 100px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.photographer-sortbar label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}

.photographer-sortbar__sortmenu {
    position: relative;
    width: 170px;
}

.sortbar-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: #901C1C;
    color: white;
    cursor: pointer;
    outline: none;
}

.sortbar-btn-open {
    border-radius: 5px 5px 0 0;
}

.sortbar-btn:focus {
    outline: none;
}

.sortbar-options-list {
    display: none;
    position: absolute;
    width: 170px;
    top: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    background-color: #901C1C;
    color: white;
    z-index: 1;
}

.sortbar-options-list.show {
    display: block;
}

.sortbar-options li .option-hidden {
    display: none;
}


.sortbar-options-list li {
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    position:relative;
}

.sortbar-options-list li::before {
    position:absolute;
    content:"";
    display: block;
    width: 90%;
    top:0;
    left:5%;
    height: 1px;
    background-color: white;
}

.sortbar-options-list li:hover {
    background-color: #DB8876;
    color: black
}

#sortbar-chevron {
    margin-left: 10px;
    transition: transform 0.3s;
}

.sortbar-chevron-up {
    transform: rotate(180deg);
    /* Tourner le chevron */
}




/* =========================================== */
/* MEDIA CARD */
/* =========================================== */

.photographer-medias {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.mediaCard {
    width: 350px;
    height: 350px;
}

.mediaCard img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.mediaCard video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.mediaCard .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.mediaCard .info h2 {
    font-size: 16px;
    color: #901C1C;
}

.mediaCard .info .info__likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mediaCard .info .info__likes-count {
    font-size: 16px;
    font-weight: 500;
    color: #901C1C;
}

.mediaCard .info .fa-heart {
    margin-left: 10px;
    font-size: 22px;
    color: #901C1C;
    cursor: pointer;
}

/* =========================================== */
/* INFOS (Nb likes & price) */
/* =========================================== */
.photographer-infos {
    position: fixed;
    bottom: 0%;
    right: 30px;
    padding: 10px 20px;
    background-color: #DB8876;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    border-radius: 5px 5px 0 0;
}

.photographer-infos div {
    font-size: 18px;
    font-weight: 500;
}

.photographer-infos i {
    margin-left: 10px;
}

/* =========================================== */
/* CONTACT MODAL */
/* =========================================== */

.container__contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contact-modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: auto;

}


.contact-modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.contact-modal header h2,
h3 {
    font-size: 48px;
    font-weight: normal;
}


.contact-modal .close-modal {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

.contact-modal .requiredField {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-left: 10px;

}

.formData {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

form textarea {
    width: 100%;
    height: 170px;
    font-size: 24px;
    padding: 10px;
    resize: none;
}

form .input-invalid {
    border: 2px solid #e54858;
}

.error-message {
    font-size: 18px;
    color: #6A1515;
    font-weight: 700;
    margin-bottom: 5px;
}

/* =========================================== */
/* LIGHTBOX MODAL */
/* =========================================== */

.container__lightbox_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1000;
}

.lightbox-modal {
    border-radius: 5px;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    margin: auto;

}

.lightbox-modal .close-modal,
.previous,
.next {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container__lightbox-media {
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container__lightbox-media img,
video {
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.lightbox-leftButtons {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 5%;
    height: 100%;
    justify-content: center;
}

.lightbox-rightButtons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 5%;
    position: relative;
}

.lightbox-rightButtons .close-modal {
    margin-bottom: auto;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lightbox-leftButtons button {
    margin: auto 0;
}

.lightbox-caption_text {
    font-size: 24px;
    color: #901C1C;
    margin-top: 10px;
}